@page "/Return"
@using System.Diagnostics

<PageTitle>Operation successful</PageTitle>

<h1 class="text-success">Operation successful</h1>
<h2 class="text-primary">The service will be activated shortly.</h2>

<p>
    Dear Customer,

    We noticed that your payment for our cloud service subscription was completed.

    Best regards, Customer Service
</p>
